<!DOCTYPE html>
<html>
  <head><center> 
	  <title>LisaResume</title>
  </head>
<body>
  <h1>
    <header>Lisa Connell</header>
  </h1>
    <p> <address>connell.lisamarie@gmail.com | 971-678-6327</address>
    </p>
	<p> <img src="havasu.png" alt="havasu">
<main>
  <h2>Professional Summary</h2>
  <p>Highly ambitious full stack developer with professional experience and education in HTML, CSS, JavaScript, SQL, Python, and C#. Highly organized and detail-oriented professional specializing in exploring customer solutions that work.
  </p>
<section>
  <h2>Skills</h2>
  <ul style="list-style-type: none;">

    <li>Front End: HTML, CSS, JavaScript, Python</li>
    <li>Back End: C#, SQL</li>
    <li>Defuct & Bug Discovery</li>
    <li>Data management</li>
    <li>Issue Identification</li>
    <li>Test Cases, Plans & Scripts</li>
    <li>Problem Solving</li>
    <li>Analytical thinking</li>
    <li>Staff development</li>
    <li>Team leadership</li>
  </ul>
</section>
<section>
  <h2>Education</h2>
  <p>Thinkful Full Stack Developer Program, 2018</p>
  <ul style="list-style-type: none;">
   <li>Followed my passion for computer programming</li>
   <li>Worked with a mentor on developing projects</li>
  </ul>
  <p>Udemy C# course</p>
</section>
  <h2>Work History</h2>
  <p><strong>Sportrock 7/2018-present</strong></p>
  <p>Rock climbing instructor and coach</p>
  <ul style="list-style-type: none;">
    <li>Junior and Competitive Rock climbing coach</li>
    <li>Teach basic skills class for new climbers</li>
    <li>Train new employees</li>
  </ul>
  <p><strong>Robert Half 6/2018-present</strong></p>
  <p>JR software QA tester</p>
  <ul style="list-style-type: none;">
    <li>I develop and execute test plans and functional (Automated and Manual) use cases to ensure that products meet user needs and business requirements. Develop and maintain testing strategies that includes design, execution, and documentation of test cases, defects tracking, and test coverage analysis. Identifies and recommends changes to enhance the overall effectiveness of system and overall solution testing strategies.</li>
  </ul>
  <p><strong>Wayfair 10/2014-9/2017</strong></p>
  <p>Supplier operations manager</p>
  <ul style="list-style-type: none;">
    <li>I piloted a liaison position between Wayfair and many of our suppliers. I worked extensively with our SQL databases to collate vast amounts of information necessary to the execution of my duties. During my time at Wayfair  I developed problem solving and critical thinking skills that quickly advanced my career to Operations Manager within just 9 months.</li>
  </ul>
  <p><strong>Adroll 09/2013-9/2014</strong></p>
  <p>Account development representative</p>
  <ul style="list-style-type: none;">
    <li>I was a marketing consultant for eCommerce businesses. I built cookies to track users interaction within the site and develop an online re-targeting campaign to drive sales. I was asked to start up a team of 3 individuals to specialize in the tech vertical, with that we held weekly meetings and put together training sessions that ended up raising our close rate.</li>
    </ul>
</main>
</body>
</html>